body {
  margin: 0px;
}

h1 {
  margin: 0px;
}

header {
  height: 40px;
  background-color: salmon;
  height: 100px;
  margin-bottom: 25px;
  text-align: center;
}

.container {
  width: 800px;
  background-color: salmon;
  margin: auto;
}

.emoji-row {
  padding: 13px;
  width: 100%;
  margin: auto;
  height: 75px;
  background-color: #dedede;
  box-sizing: border-box;
}

.emoji-button {
  width: 50px;
}





/** {
	box;
}

body, html {
	background: url("../images/drinks_bkgd.jpg");
}

h1 {
  text-align: center;
  color: #007bff;
  font-family: 'Lakki Reddy', cursive;
  font-size: 2em;
}


.jumbotron {
	text-align: center;
	background-color: #212529; 
	color: #ffffff;
  border-bottom: 2px solid #0078ff;
}


#tag-line1 {
	font-family: 'Courgette', cursive;
}

#buttons-view {
  border-bottom: 2px solid #0078ff;
  border-top: 2px solid #0078ff;
  background-color: rgba(0, 0, 26, .4);
}


.emoji-button {
  max-width: 3em;
  margin:.3em;
  opacity:1;
  border-radius: 8px;
}

.emoji-button:hover {
	background-color: #007bff;
} 

.emoji-button:active {
	background-color: #e6e6ff;
}

.content-card {
	height: 30em;
}

.imgPlace {
	position: absolute;
}

.choices {
	float:right;
	margin:.5em;
}

a.link-button {
	color: white !important;
}

.btn-primary {
	margin:.5em;
}


.new-drink  {
	float:left;
}

.content-button {
	float:center;
}

.table {
  border-top: 2px solid #0078ff;
}

.tableImg {
	width: 50px;
	height: 75px;
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding-top: 10px;
  height: 50px;
  border-bottom: 2px solid #0078ff;
  display: static;
}

.trash-style:hover {
  color: red;
}*/