body {
	background: url("../images/geometry.png") repeat;
}


h1 {
	text-align: center;
	color: #990000;
	padding-bottom: .2em;
	margin-top: 2em;
}

.tOne {
	font-family: 'Lakki Reddy', cursive;
	font-size: 2em;
}

.tTwo {
	font-family: 'Lakki Reddy', cursive;
	font-size: 2em;
}

.tThree {
	font-family: 'Lakki Reddy', cursive;
	font-size: 2em;
}

#buttons-view {
	width: 16em;
    height: 16em;
    margin: auto;
    overflow-y: scroll;
}

.emoji-button {
	max-width: 4.5em;
	margin:.3em;
}

.emoji-button:hover {
	background-color: #f2f2f2;
} 

.emoji-button:active {
	background-color: grey;
}



/* 
Font Family Tags

font-family: 'Ranchers', cursive;
font-family: 'Geostar', cursive;
font-family: 'Kumar One', cursive;
font-family: 'Coiny', cursive;
font-family: 'Lakki Reddy', cursive;
font-family: 'Modak', cursive;
font-family: 'Diplomata', cursive;
font-family: 'Jolly Lodger', cursive;
*/