body {
	background: url("../images/geometry.png") repeat;
}


h1 {
	text-align: center;
	color: #000080;
	padding-bottom: .2em;
	margin-top: 2em;
}

.tOne {
	font-family: 'Lakki Reddy', cursive;
	font-size: 2em;
}

.tTwo {
	font-family: 'Lakki Reddy', cursive;
	font-size: 2em;
}

.tThree {
	font-family: 'Lakki Reddy', cursive;
	font-size: 2em;
}

#buttons-view {
	width: 17em;
    height: 16em;
    margin: auto;
    overflow-y: scroll;
    border-bottom: 2px solid #ccccff;
    border-top: 2px solid #ccccff;
    background-color: rgba(0, 0, 26, .1);
}

::-webkit-scrollbar {
      width: 15px;
} /* this targets the default scrollbar (compulsory) */

.emoji-button {
	max-width: 4.5em;
	margin:.3em;
	opacity:1;
}

.emoji-button:hover {
	background-color: #e6e6ff;
} 

.emoji-button:active {
	background-color: #000080;
}



/* 
Font Family Tags

font-family: 'Ranchers', cursive;
font-family: 'Geostar', cursive;
font-family: 'Kumar One', cursive;
font-family: 'Coiny', cursive;
font-family: 'Lakki Reddy', cursive;
font-family: 'Modak', cursive;
font-family: 'Diplomata', cursive;
font-family: 'Jolly Lodger', cursive;
*/